#first {
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 10px solid blue;
    margin: 100px;
}



#second {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 10px solid blue;
    margin: 100px;  
}